
/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Montserrat:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');
/* Affection Regular */
@font-face {
  font-family: 'Affection';
  src: url('/fonts/Affection.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Willowshine Regular */
@font-face {
  font-family: 'Willowshine';
  src: url('/fonts/Willowshine.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

